@use 'variable' as *;
@use 'mixin' as *;

.h4 {
    font-size: 20px;
    @include md() {
        font-size: 16px;
    }
}
.h5 {
    font-size: 16px;
}
.decorate-text .elementor-heading-title {
    font-size: clamp(64px, 13vw, 200px);
    white-space: nowrap;
}

button, a {
    &:hover, &:focus {
        outline: 0 !important;
    }
}
#menu-toggle-close, .menu-toggle {
    &:hover, &:focus {
        border: 0;
    }
}

.btn {
    .elementor-button-icon > i {
        transform: scale(1.7); 
        margin-right: 8px;
    }
}
.w100 {
    .elementor-button {
        width: 100%;
    }
}

.no-br-desk {
    @media (min-width: $md) {
        br {
            display: none;
        }
    }
}
.no-br-mobile {
    @include md() {
        br {
            display: none;
        }
    }
}
.opacity-8 {
   opacity: 0.8; 
}

// slick
.slick-dots {
    margin-top: 32px;
    bottom: -38px;
    display: flex;
    li {
        width: 10px;
        margin: 0 2px;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                display: block;
                background-color: #D9D9D9;
                border-radius: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
            }
        }
        &.slick-active {
            button {
                &:before {
                    background-color: $primary;
                }
            }
        }
    }
}
.slick-arrow {
    width: 42px;
    height: 42px;
    position: absolute;
    top: -60px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    font-size: 0;
    z-index: 10;
    transition: .3s;
    transform: translateY(-50%);
    background: $primary;
    padding: 0;
    &::before {
        content:'';
        display:block;
        width:8px;
        height:8px;
        margin:auto;
        border-top:2px solid #fff;
        border-right:2px solid #fff;
    }
    &:hover, &.slick-disabled {
        background: rgba($primary, 0.6);
    }
    &.slick-disabled {
        cursor: context-menu;
    }
}

.slick-prev { 
    right: 85px;   
    &::before {
        transform:rotate(-135deg);
    }
}

.slick-next {
    right: 20px;
    &::before {
        transform:rotate(45deg);
    }
}



// header


.site-logo-img img {
    filter: unset !important;
}
.main-header-menu, .sub-menu {
    > li > a {
        font-size: 16px !important;
    } 
}
@include ml() {
    .ast-mobile-popup-header {
        justify-content: start !important;
    }
    .ast-menu-toggle {
        path {
            fill: $text;
        }
    }
    .menu-toggle-close {
        svg {
            width: 30px;
            height: 30px;
        }
        path {
            fill: #707070;
        }
    }
    .ast-menu-toggle {
        // top: 50% !important;
        // transform: translateY(-50%) !important;
        top: 0px !important;
        right: 0;
        left: 0 !important;
        width: 100%;
        height: 69px;
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
    }
}


.sub-menu {
     > li > a {
        .ast-icon {
            display: none !important;
        }
    } 
    @media (min-width: $ml) {
       // visibility:visible !important;
        // left: 0 !important;
        transform: translateX(-25%);
        > li > a {
            text-align: center;
        } 
    }
    
}


// footer
footer {
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include md() {
            gap: 8px;
        }
        li {
            a {
                font-size: 16px;
                color: $text-w;
                &:hover {
                    color: rgba($text-w, 0.6);
                }
            }
        }
    }
    .copyright {
        * {
            font-size: 14px;
            color: $text-w;
        }
        a:hover {
            color: rgba($text-w, 0.6);
        }
    }
    //浮動icon 30分鐘 免費諮詢
    .floating-consult-btn {
        position: fixed;
        right: 30px;
        bottom: 40vh;
        transform: translateY(120%);
        z-index: 999;
        .elementor-button {
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
        }
        @include md() {
            right: 16px;
            bottom: 25vh;
            .elementor-button {
                width: 80px;
                height: 80px;
                .elementor-button-text {
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 1.8;
                }
            }
        }
    }
}

// to top
#ast-scroll-top {
    right: 30px;
    bottom: 40vh;
    @include md() {
        right: 16px;
        bottom: 25vh;
    }
    .ast-icon.icon-arrow svg {
        transform: translate(0, -20%) rotate(180deg) scale(0.6);
    }
}