@use 'variable' as *;
@use 'mixin' as *;

//首圖-手機
.index-image-m {
    aspect-ratio: 768 / 720;
}

//服務據點
.location-map {
    iframe {
        height: auto !important;
        aspect-ratio: 507 / 282;
    }
    
}
.location-txt {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include md() {
            gap: 8px;
        }
        li {
            display: flex;
            flex-wrap: wrap;
            line-height: 2;
            @include md() {
                line-height: 1.8;
            }
            strong {
                font-weight: 400;
            }
        }
    }
}

//關於我們
.index-about {
  
}

//三步驟
.process-txt {
    position: relative;
    >.elementor-widget-container {
         position: absolute;
        top: 0;
        right: 0;
        writing-mode: vertical-rl;
        text-orientation: mixed; /* 英文維持橫向 */
    }
}
.process-warp {
    counter-reset: process;
    .process-item {
        position: relative;
        counter-increment: process;
        &::after {
            content: counter(process);
            width: 28px;
            height: 28px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #E88821;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            transform: translateX(-50%);
        }
    }
}


// 知識專欄
.home-news {

    .news__slider {
        margin: 0 -15px;

        .slick-track {
            display: flex;
        }

        .slick-slide {

            > div {
                height: 100%;
            }
        }
    }

    .news__card {
        margin: 0 15px;
        height: 100%;
    }

    .news__thumb {
        overflow: hidden;
        border-radius: 8px;
    }

    .news__img {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 10;
        object-fit: cover;
    }

    .slick-dots {
        margin-top: 32px;
    }

    @media (max-width: 1024px) {
        .news__slider {
            margin: 0 -10px;
        }

        .news__card {
            margin: 0 10px;
        }
    }

    @media (max-width: 767px) {
        .news__slider {
            margin: 0;
        }

        .news__card {
            margin: 0;
        }
    }
}