@use 'variable' as *;
@use 'mixin' as *;

// header 關於我們特例
body.page-id-5 {
    .site-logo-img img {
        filter: url(#ast-img-color-filter-2) !important;
    }
    #ast-hf-menu-1 {
        .menu-item {
            .menu-link {
                color:  $bg;
                &:hover {
                    color: $acc;
                }
            }
            &.current-menu-item .menu-link {
                color: $acc;
            }
        }
       
        
    }
   
}