@use 'variable' as *;
@use 'mixin' as *;

//首圖-手機
.index-image-m {
    aspect-ratio: 768 / 720;
}

//服務據點
.index-location-map {
    iframe {
        height: auto !important;
        aspect-ratio: 507 / 282;
    }
    
}
.index-location-txt {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include md() {
            gap: 8px;
        }
        li {
            display: flex;
            flex-wrap: wrap;
            line-height: 2;
            @include md() {
                line-height: 1.8;
            }
            strong {
                font-weight: 400;
            }
        }
    }
}

//關於我們
.index-about {
  
}

//三步驟
.process-txt {
    position: relative;
    >.elementor-widget-container {
        position: absolute;
        top: 0;
        right: 0;
        writing-mode: vertical-rl;
        text-orientation: mixed; /* 英文維持橫向 */
    }
}
.process-warp {
    counter-reset: process;
    .process-item {
        position: relative;
        counter-increment: process;
        &::after {
            content: counter(process);
            width: 28px;
            height: 28px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #E88821;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            transform: translateX(-50%);
        }
    }
}


// 知識專欄
.home-news {

    .news__slider {
        margin: 0 -20px;

        .slick-track {
            display: flex;
        }

        .slick-slide {

            > div {
                height: 100%;
            }
        }
    }
    .news__card {
        margin: 0 20px;
        height: 100%;
        transform:  color 0.4s;
        &:hover {
            .news__card-title {
                color: $acc
            }
        }
    }
    .news__card-link {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 100%;
        color: inherit;
        text-decoration: none;
    }
    .news__thumb {
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 4px 10px 20px rgba($text-d, 0.08);
    }
    .news__img {
        display: block;
        width: 100%;
        aspect-ratio: 373.33 / 280;
        object-fit: cover;
    }
    .news__body {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .news__card-title {
            @include word-count(2);
            color: $text;
            font-size: 18px;
            font-weight: 500;
        }
        .news__excerpt {
            @include word-count(3);
            font-size: 14px;
            color: $text-l;
        }
    }

   

    // @media (max-width: 1024px) {
    //     .news__slider {
    //         margin: 0 -10px;
    //     }

    //     .news__card {
    //         margin: 0 10px;
    //     }
    // }

    @include sm() {
        .news__slider {
            margin: 0;
        }

        .news__card {
            margin: 0;
        }
    }
}

// 服務項目
.home-services {
    .services__card {
        padding: 5px;
        .services__warp {
            // transform: translateZ(0);
        }
        .services__thumb {
            position: relative;
            &::after {
                content: '';
                @include bgGradient(rgba($bg, 0), $bg);
                position: absolute;
                width: 100%;
                height: 101%;
                left: 0;
                top: 0;
            }
        }
        .services__img {
            display: block;
            width: 100%;
            aspect-ratio: 373.33 / 280;
            object-fit: cover;
        }
        .services__body {
            gap: 15px;
            padding: 30px 20px;
            .services__card-title {
                justify-content: center;
                padding-bottom: 20px;
                margin-bottom: 20px;
                @include md() {
                    justify-content: start;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .services__slider {
        margin: 0 -5px;

        .slick-track {
            display: flex;
        }

        .slick-slide {

            > div {
                height: 100%;
            }
        }
    }
    .slick-dots {
        padding: 0 20px;
        @include sm() {
            padding: 0;
        }
    }
    @include sm() {
        .services__slider {
            margin: 0;
        }

        .services__card {
            margin: 0;
        }
    }
}